@media (max-width: 576px) {
    .product-img {
        height: 460px;
    }

    .product-new-img {
        height: 450px;
    }

    .card-last-new-img {
        height: 320px;
    }

    .form-signing {
        width: 400px;
        margin: 0 auto;
    }

    .form-signing-title {
        margin: 0 0 30px 0;
    }

    .product-main-img {
        width: 400px;
        height: 400px;
        margin: 0 0 30px 0;
    }

    .card-img-note {
        height: 200px;
    }

    .product-input {
        margin: 0 0 20px 0;
    }

    .product-btn {
        margin: 0 0 20px 0;
    }

    .product-col {
        max-width: none;
        margin: 0 60px 0 0;
    }

    .btn-width-admin {
        width: 100px;
    }

    .btn-font-size-admin {
        font-size: 14px;
    }

    .font-size-adaptive {
        font-size: 14px;
    }
}

@media (min-width: 576px) {
    .categories {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: flex-start;
    }

    .product-img {
        height: 450px;
    }

    .product-new-img {
        height: 500px;
    }

    .card-last-new-img {
        height: 350px;
    }

    .form-signing {
        width: 450px;
        margin: 0 auto;
    }

    .form-signing-title {
        margin: 0 0 30px 0;
    }

    .product-main-img {
        width: 400px;
        height: 400px;
        margin: 0 0 30px 0;
    }

    .card-img-note {
        height: 200px;
    }

    .product-input {
        margin: 0 0 20px 0;
    }

    .product-btn {
        margin: 0 0 20px 0;
    }

    .product-col {
        max-width: none;
        margin: 0 60px 0 0;
    }

    .btn-width-admin {
        width: 70px;
    }

    .btn-font-size-admin {
        font-size: 8px;
    }

    .font-size-adaptive {
        font-size: 8px;
    }

    .card-body-pay {
        display: flex;
        flex-direction: column;
    }

    .card-body-pay>div {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .categories {
        margin: 120px 0 0 0;
    }

    .cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .card {
        width: 243px;
    }

    .card-product,
    .card-new-product,
    .card-last-new {
        width: 230px;
        margin: 0 25px 0 0;
    }

    .product-img {
        height: 250px;
    }

    .product-new-img {
        height: 300px;
    }

    .card-last-new-img {
        height: 300px;
    }

    .form-signing {
        width: 500px;
        margin: 0 auto;
    }

    .form-signing-title {
        margin: 0 0 30px 0;
    }

    .product-main-img {
        width: 340px;
        height: 340px;
        margin: 0;
    }

    .card-img-note {
        height: 250px;
    }

    .product-input {
        margin: 0;
    }

    .product-btn {
        margin: 0;
    }

    .product-col {
        margin: 0;
    }

    .btn-width-admin {
        width: 80px;
    }

    .btn-font-size-admin {
        font-size: 10px;
    }

    .font-size-adaptive {
        font-size: 10px;
    }

    .card-body-pay {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .categories {
        margin: 120px 0 0 0;
    }

    .cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .card {
        width: 333px;
    }

    .card-product,
    .card-new-product,
    .card-last-new {
        width: 210px;
        margin: 0 17px 0 0;
    }

    .product-img {
        height: 220px;
    }

    .product-new-img {
        height: 220px;
    }

    .card-last-new-img {
        height: 184px;
    }

    .form-signing {
        width: 500px;
        margin: 0 auto;
    }

    .form-signing-title {
        margin: 0 0 30px 0;
    }

    .product-main-img {
        width: 370px;
        height: 370px;
        margin: 0;
    }

    .card-img-note {
        height: 300px;
    }

    .product-input {
        margin: 0;
    }

    .product-btn {
        margin: 0;
    }

    .product-col {
        margin: 0;
    }

    .btn-width-admin {
        width: 90px;
    }

    .btn-font-size-admin {
        font-size: 12px;
    }

    .font-size-adaptive {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .categories {
        margin: 120px 0 0 0;
    }

    .cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .card {
        width: 258px;
    }

    .card-product,
    .card-new-product,
    .card-last-new {
        width: 260px;
        margin: 0 15px 0 0;
    }

    .product-img {
        height: 250px;
    }

    .product-new-img {
        height: 250px;
    }

    .card-last-new-img {
        height: 185px;
    }

    .form-signing {
        width: 500px;
        margin: 0 auto;
    }

    .form-signing-title {
        margin: 0 0 30px 0;
    }

    .product-col {
        margin: 0;
    }

    .product-main-img {
        width: 400px;
        height: 400px;
        margin: 0;
    }

    .card-img-note {
        height: 400px;
    }

    .product-input {
        margin: 0;
    }

    .product-btn {
        margin: 0;
    }

    .btn-width-admin {
        width: 100px;
    }

    .btn-font-size-admin {
        font-size: 14px;
    }

    .font-size-adaptive {
        font-size: 14px;
    }
}

.product-cart-img {
    width: 80px;
    height: 80px;
}

.order-cart-img {
    width: 50px;
    height: 50px;
}

.page-link:hover,
.page-link:active {
    background: none;
}

.contacts-promo {
    margin-top: 8%;
    margin-bottom: 8%;
}

.note {
    width: 70%;
    margin: 0 auto 0 auto;
}

.card-img {
    max-height: 450px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-title {
    font-size: 25px;
    font-weight: 700;
}

.breadcrumb {
    background: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 75px 0 0;
}

.link-big {
    margin: 5px 0 0 20px;
    font-size: 33px;
}

.table-staff>thead>tr>th {
    border-top: none;
}

.note {
    width: 70%;
    margin: 0 auto 0 auto;
}

.w-28 {
    width: 28%;
}

.w-90 {
    width: 90%;
}

.page-header-admin {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.main-admin {
    padding: 70px 0 0 0;
}

.category-item {
    width: 100%;
}

.page-item.active .page-link {
    color: #6c757d;
    outline: none;
    background: #ffffff;
}

.card-user {
    width: 100%;
}

.dropdown-toggle-outline {
    outline: none;
}

.block-increase-decrease {
    width: 60px;
    margin: 0 auto;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    position: relative;
    bottom: 2px;
    margin: 0px;
    width: 14px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    color: #000000;
}

.value-button:hover {
    cursor: pointer;
}

.value-button-decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    left: 5px;
}

.values-button-increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    right: 5px;
}

.value-input-number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 20px;
    height: 30px;
}

.nav-link {
    outline: none;
}

.link-admin-active {
    color: rgb(18, 20, 22) !important;
}

.carousel-title,
.last-new-title {
    color: #ffffff;
}

.carousel-title:hover,
.last-new-title:hover {
    color: #eeeeee;
}

.carousel-title:active,
.last-new-title:active {
    color: #dddddd;
}

.card-created,
.card-author {
    font-size: 12px;
}

.card-author {
    text-align: right;
}

.slider-image,
.last-new-image {
    filter: brightness(70%);
}

.evaluation-input {
    width: 20%;
}

.catd-title {
    font-size: 20px;
}
